# Общие файлы, создаваемые компилятором и IDE (в подпапках проектов)
*/*.o
*/*.obj
*/*.a
*/*.lib
*/*.dll
*/*.so
*/*.exe
*/*.dylib
*/*.ilk
*/*/pdb
*/*.idb
*/*.sbr
*/*.suo
*/*.VC.db
*/*.VC.VC.opendb
*/*.opensdf
*/*.opensdf
*/*.sdf
*/*.user
*/*.log
*/*.tmp
*/*.bak
*/*.swp
*/*.autosave

# Генераторы кода (в подпапках проектов)
*/cmake-build-debug/
*/cmake-build-release/
*/build/
*/Debug/
*/Release/
*/x64/Debug/
*/x64/Release/
*/x86/Debug/
*/x86/Release/

# Файлы сгенерированные IDE (в подпапках проектов)
*/*.user
*/*.vs
*/*.csproj
*/*.sln
*/*.idea/

# Библиотеки сторонних производителей (при необходимости, укажите путь относительно корня)
libs/
external/

# Файлы для отладки (в подпапках проектов)
*/*.map

# Временные файлы для разных операционных систем
Thumbs.db
*/.tmproj
*/.userprefs
*/CMakeFiles/
*/cmake_install.cmake

# Файлы которые могут содержать чувствительную информацию (в подпапках проектов)
*/*.secret
*/*.key
*/*.pem
*/*.ppk

# Файлы сгенерированные IDE (в подпапках проектов, например, CLion)
*/.idea/


# Добавьте другие общие игнорируемые файлы здесь, если нужно
